.card{
	background-color: #F9FAFB;
	width: 90%;
	max-width: 25rem;
	min-height: 8rem;
	padding: 0 1.5rem 1.5rem;
	text-align: center;
	border-radius: 8px;
	margin-top: 1.5rem;
	display: block;
	overflow: visible;
}

.card:hover{
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.card span{
	display: block;
}

.card .card-icon{
	width: 3rem;
	height: 3rem;
	padding: 0.1rem;
	font-size: 1.25rem;
	background-color: #3F75FE;
	color: white;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -1.5rem auto 0;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}

.card .card-title{
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.56;
	color: #111827;
	margin: 2rem 0 1.25rem;
}

.card .card-text{
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: #6B7280;
}