
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: inherit;
	color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, body, html, div{
	margin: 0;
	padding: 0;
}

body {
  	font-family: "Inter", sans-serif;
	min-height: 100vh;
	background-color: rgb(112, 112, 112);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 0.25em;
}

.component-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25em;
}


