:root {
	--gray: #F3F4F6;
	--dark-gray: #1F2937;

	--red: #FEE2E2;
	--dark-red: #991B1B;
	--dark-red-2: #B45309;
	--light-red: #FEF2F2;
	--light-red-2: #F87171;

	--yellow: #FEF3C7;
	--dark-yellow: #92400E;
	--dark-yellow-2: #B45309;
	--light-yellow: #FFFBEB;
	--light-yellow-2: #FBBF24;

	--green: #D1FAE5;
	--dark-green: #065F46;
	--dark-green-2: #047857;
	--light-green: #ECFDF5;
	--light-green-2: #34D399;

	--blue: #DBEAFE;
	--dark-blue: #1E40AF;
	--dark-blue-2: #1C51B9;
	--light-blue: #EFF6FF;
	--light-blue-2: #60A5FA;

	--indigo: #E0E7FF;
	--dark-indigo: #3730A3;

	--purple: #EDE9FE;
	--dark-purple: #5B21B6;

	--pink: #FCE7F3;
	--dark-pink: #9D174D;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: inherit;
	color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, body, html, div{
	margin: 0;
	padding: 0;
}

body {
  	font-family: "Inter", sans-serif;
	min-height: 100vh;
	background-color: rgb(112, 112, 112);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 0.25em;
}

.component-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25em;
}

.btn{
	background-color: white;
	color: black;
	min-height: 20px;
	font-weight: 500;
	font-size: 0.875rem;
	padding: 0.25rem 0.75rem;
	border: none;
	border-radius: 4px;
}

.btn.pill{
	border-radius: 12px;
}

.btn.gray {
	background-color: var(--gray);
	color:  var(--dark-gray);
}

.btn.red {
	background-color: var(--red);
	color:  var(--dark-red);
}

.btn.yellow {
	background-color: var(--yellow);
	color:  var(--dark-yellow);
}

.btn.green {
	background-color: var(--green);
	color:  var(--dark-green);
}

.btn.blue {
	background-color: var(--blue);
	color:  var(--dark-blue);
}

.btn.indigo {
	background-color: var(--indigo);
	color:  var(--dark-indigo);
}

.btn.purple {
	background-color: var(--purple);
	color:  var(--dark-purple);
}

.btn.pink {
	background-color: var(--pink);
	color:  var(--dark-pink);
}


.banner{
	display: flex;
	flex-direction: row;
	gap: .75rem;
	width: 90%;
	max-width: 55rem;
	background-color: white;
	color: black;
	border-radius: 6px;
	padding: 1.125rem;
	font-size: 0.875rem;
	line-height: 1.4;
}

.banner span{
	display: block;
}

.banner .banner-title{
	font-weight: 500;
}

.banner .banner-text{
	font-weight: 400;
	margin-top: 0.35rem;
}

.banner i{
	font-size: 1rem;
	height: 1rem;  
	line-height: 1.5rem;
}

.banner.success {
	background-color: var(--light-green);
}

.banner.success .banner-title{
	color: var(--dark-green);
}

.banner.success .banner-text{
	color: var(--dark-green-2);
}

.banner.success i{
	color: var(--light-green-2);
}

.banner.warning {
	background-color: var(--light-yellow);
}

.banner.warning .banner-title{
	color: var(--dark-yellow);
}

.banner.warning .banner-text{
	color: var(--dark-yellow-2);
}

.banner.warning i{
	color: var(--light-yellow-2);
}

.banner.error {
	background-color: var(--light-red);
}

.banner.error .banner-title{
	color: var(--dark-red);
}

.banner.error .banner-text{
	color: var(--dark-red-2);
}

.banner.error i{
	color: var(--light-red-2);
}

.banner.neutral {
	background-color: var(--light-blue);
}

.banner.neutral .banner-title{
	color: var(--dark-blue);
}

.banner.neutral .banner-text{
	color: var(--dark-blue-2);
}

.banner.neutral i{
	color: var(--light-blue-2);
}